.container {
  margin: 0 auto;
  place-items: center;
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content {
  background-color: #fff;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  color: #242424;
}
.content > header {
  display: flex;
  justify-content: flex-end;
}
.content > article {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content > footer {
}
.input_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_list > .input_item {
  max-width: 40rem;
  margin-bottom: 0.5rem;
}
.submit_row {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 40rem;
  display: flex;
  justify-content: center;
}
.submit_modal .ant-modal-footer > .ant-btn-default,
.submit_modal .ant-modal-content > .ant-modal-close {
  display: none;
}
.icon_loading {
  margin-right: 1rem;
}
.chainSelect{
  margin-right: 1rem;
}